<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ProjectName</key>
	<string>EB3D2B7D-1225-476A-A4EF-9F683EAC74A9</string>
	<key>SDK</key>
	<string>iPhoneOS15.6.sdk</string>
</dict>
</plist>